.navbar {
    position: sticky;
    z-index: 100;
    top:0;
    width:100%;
    overflow: hidden;
}

/* Top Navbar */
.navbar_top {
    background-color: #ECECEC;
}
.navbar_top > .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar_top > .container > h5 {
    margin-right: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.navbar_top > .container > h5:hover {
    text-decoration: underline;
    color: #F27B48;
}

/* Bottom Navbar */
.navbar_bottom {
    background-color: white;
}
.navbar_bottom > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0;
}

.navbar_bottom > .container > img {
    object-fit: contain;
    width: 8rem;
    cursor: pointer;
}
.navbar_bottom > .container > .navbar_bottom_right > img{
    object-fit: contain;
    width: 12rem;
    margin-right:1.8rem;
    cursor: pointer;
}

.navbar_bottom > .container > .navbar_bottom_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:0.28;
    font-size: 1.7rem;
    color:black;
}

.navbar_bottom > .container > .search {
    flex:0.57;
}

.ant-input-group {
    background-color: #ECECEC;
}
.ant-input-group > .ant-input-group-addon > button,.ant-input-group > .ant-input-group-addon {
    background-color: #F57224;
    border:0;
}